<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ramble.ramblewallet">

    <queries>
        <package android:name="com.instagram.android" />
        <package android:name="com.tencent.mm" />
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.tencent.wework" />
        <package android:name="com.qzone" />
        <package android:name="com.sina.weibo" />
        <package android:name="com.alibaba.android.rimet" />
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="com.donews.renren.android" />
        <package android:name="com.douban.frodo" />
        <package android:name="com.youdao.note" />
        <package android:name="im.yixin" />
        <package android:name="com.yinxiang" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.linkedin.android" />
    </queries>
    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppMainTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="allowBackup">
        <activity
            android:name=".activity.WelcomeActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WalletMoreOperateActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddTokenActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TokenManageActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TokenActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchTokenActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RecoverWalletListActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GatheringActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TransferActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewAddActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WalletManageActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddressBookActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScanActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MineActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MessageCenterActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MsgDetailsActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HelpActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HelpFaqActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DealDetailActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TransactionQueryActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MnemonicConfirmActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MnemonicActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.BaseActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RecoverWalletActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CreateWalletActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CreateRecoverWalletActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CreateWalletListActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainETHActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainTRXActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainBTCActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="50bb050a3c372095dfbb6610b89bc987" />

        <service android:name=".push.MyNotificationService" />
        <service
            android:name=".push.UmengNotificationService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".push.NotificationBroadcast" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
</manifest>