<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ramble.ramblewallet">
    <queries>
        <package android:name="com.instagram.android" />
        <package android:name="com.tencent.mm" />
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.tencent.wework" />
        <package android:name="com.qzone" />
        <package android:name="com.sina.weibo" />
        <package android:name="com.alibaba.android.rimet" />
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="com.donews.renren.android" />
        <package android:name="com.douban.frodo" />
        <package android:name="com.youdao.note" />
        <package android:name="im.yixin" />
        <package android:name="com.yinxiang" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.linkedin.android" />
    </queries>
    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppMainTheme"
        tools:replace="allowBackup">
        <activity android:name=".activity.WalletMoreOperateActivity"></activity>
        <activity android:name=".activity.AddTokenActivity" />
        <activity android:name=".activity.TokenManageActivity" />
        <activity android:name=".activity.TokenActivity" />
        <activity android:name=".activity.RecoverWalletListActivity" />
        <activity android:name=".activity.GatheringActivity" />
        <activity android:name=".activity.TransferActivity" />
        <activity android:name=".activity.NewAddActivity" />
        <activity android:name=".activity.WalletManageActivity" />
        <activity android:name=".activity.AddressBookActivity" />
        <activity android:name=".activity.ScanActivity" />
        <activity android:name=".activity.MineActivity" />
        <activity android:name=".activity.MessageCenterActivity" />
        <activity android:name=".activity.MsgDetailsActivity" />
        <activity android:name=".activity.HelpActivity" />
        <activity android:name=".activity.DealDetailActivity" />
        <activity android:name=".activity.TransactionQueryActivity" />
        <activity android:name=".activity.ContributingWordsConfirmActivity" />
        <activity android:name=".activity.ContributingWordsActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".activity.RecoverWalletActivity" />
        <activity android:name=".activity.CreateWalletActivity" />
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CreateRecoverWalletActivity" />
        <activity android:name=".activity.CreateWalletListActivity" />
        <activity android:name=".activity.MainETHActivity" />
        <activity android:name=".activity.MainTRXActivity" />
        <activity android:name=".activity.MainBTCActivity" />
<!--        <meta-data-->
<!--            android:name="UMENG_APPKEY"-->
<!--            android:value="@string/umeng_msg_secret" >-->
<!--        </meta-data>-->
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="@string/umeng_msg_secret" >
        </meta-data>
        <service android:name=".push.MyNotificationService" />
        <service
            android:name=".push.UmengNotificationService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".push.NotificationBroadcast" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>